*{margin: 0;

    padding: 0;
    
    box-sizing: border-box;
    
    font-family: 'Segoe UI', sans-serif;
}

body{
    justify-items: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, rgb(212, 0, 255),rgb(140, 0, 255),rgb(177, 27, 119));
    background-size: 500% 100%;
    animation: anima 4s infinite linear alternate;

}
    
    @keyframes anima{
        0%{
            background-position-x: 0% ;
        }
        100%{
            background-position-x: 100% ;
        }
    
    }
.minhamarca{
    font-size: 35px;
    text-decoration: none; 
    
}
.botoesmarca{
    width: 120px;
    height: 30px;
    color: rgb(92, 0, 196);
    border-radius: 5px; 
    border: solid;
    float: right;

}
#cor1{
    background-color: rgb(92, 0, 196);
    color: aliceblue;
    border: solid  rgb(92, 0, 196);
    float: left;
}
header{
    background-color: rgb(255, 255, 255);
    height: 55px;
    width: 100%;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;

}
table{
    width: 100%;
    }
    td,th{
        text-align: center;
        font-size: large;
        width: 40px;
        color: rgb(92, 0, 196);
    }
.sites{
    text-decoration: none;
    color: rgb(92, 0, 196);
}
.painel{
    background-color: rgb(255, 255, 255);
    width:90%;
    height: 750px ;
    align-items: center;
    border-radius: 20px;
    justify-items: center;
    position: absolute;
    top: 630px; 
    left: 50%; 
    transform: translateX(-50%);
    font-family: Arial, sans-serif;
    z-index: 4;
}
.espaço{
    height: 1000px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    color: aliceblue;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.barra{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1400px;
    position: relative;
    align-items: none;
    justify-items: none;
    text-align: none;
    font-family: 'Pacifico', cursive;
    z-index: 1;
    overflow: hidden;
    
}
.logos{
    color:rgba(182, 34, 145, 0.726);
}
.b{width: 50px;
    height: 50px;
    
}
tr{
    color: blueviolet;
}
.grande{
    font-size: 45px;
}
.pesquisa{
    width: 500px;
    height: 60px;
    float: left;
    border-radius: 10px;
    border: solid  rgb(255, 255, 255);
    left: 50%;
    right: 50%;
    
}
.botao{
    margin-left: 10px ;
    width: 160px;
    height: 62px;
    border-radius: 10px;
    background-color: rgb(107, 24, 216)
    ;
    border: solid  rgb(107, 24, 216);
    color: white;
}
.meio{
    
    width: 100%;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.foto{
    display: grid;
    place-items: center;
}
.fotos{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: rgb(122, 43, 226);
    align-items: center;
    justify-items: center;
    text-align: center;
}
    .noticia{
    background-color:rgb(255, 255, 255);
    padding: 10px;
    width: 200px;
    float: left;
    color: black;

    height: 100px;
    margin-left:12% ;
    margin-right: 2%;

    }
    .pato{
        align-items: center;
    justify-content: center;
    text-align: center;
    }
.meio2  { width: 100%;
color: rgb(0, 0, 0);
}
#f{
    width: 100%;
height: 100%;
object-fit: cover;
border-radius: 200px;}
.quadro{
    height: 470px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 1;
}
.cns{
    background-color: rgb(255, 255, 255);
    width: 55% ;
    height: 500px;
    float: left;
    margin: 70px;
    text-align: start;
    justify-content: start;
    align-items: start;
    margin-left: 50px;
    
    
}
#cor2{
    border-radius: 500px;
    background: linear-gradient(to right, rgb(212, 0, 255),rgb(140, 0, 255),rgb(177, 27, 119));
    background-size: 500% 100%;
    animation: anima 4s infinite linear alternate;
    width: 670px ;
    float: right;
    margin: left 50px;
    
}
.s{
    width: 180px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
    float: left;
    overflow: hidden;
    
}


.espaçinho{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
#ss{
width: 35%;
height: 40px;
background-color: rgb(255, 255, 255);
    overflow: hidden;
}
#sss{
    width: 65%;
    float: none;
    height: 40px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
#ssss{
    width: 95%;
    float: none;
    height: 120px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.roda{
    width: 580px;
height: 610px;
background-color: rgb(92, 0, 196);
z-index: 1;
border-radius: 400px ;
position: absolute;
top: 400px;
}
#roda2{
right: 0;
top: 0;
}
#roda3{
    right: 0;
    top:800px;
    }
.letrasclaras{
    color: rgb(41, 40, 40);
    font-family:Arial, Helvetica, sans-serif
}
.heart {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(252, 91, 126);
    transform: rotate(-45deg);
    margin: 35px auto;
    z-index: 2;
    margin-left: 90px;
    
}

.heart::before,
.heart::after {
    
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(252, 91, 126);
    border-radius: 50%;
    z-index: 2;
}

.heart::before {
    top: -25px;
    left: 0;
}

.heart::after {
    left: 25px;
    top: 0;
}


.star {
    
    margin-left: 80px;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 77, 225);
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 
        68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 
        39% 35%
    );
    
}


    .diamond {
        width: 80px;
        height: 80px;
        background-color: rgb(139, 61, 241);
        clip-path: polygon(
            50% 0%, 100% 35%, 80% 100%, 
            20% 100%, 0% 35%
        );
        margin-left: 90px;

    }

.esquerda{
    width: 45%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-left: 30px;
    align-items: start;
    justify-content: start;
    text-align: start;
    color: rgb(31, 31, 31);
    
    
    }
    .direito{
    width:50%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    float: right;
    

    }
.bo{
    width: 200px ;
    height: 50px ;
    background-color: blueviolet;
    border: solid blueviolet;
    border-radius: 10px;
    color: beige;
}
#bo{
    width: 270px;
    background-color: rgb(92, 0, 196); ;
    border: solid  rgb(92, 0, 196);;
}
.container{
    display: flex;
    overflow-x: scroll ;
    padding: 24px;
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory ;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
    margin: 2rem auto;
    overflow: hidden;

}
.container .item{
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;
    cursor: grabbing;
    user-select: none;  /* Evita a seleção do texto */
}
.a{
        width: 100%;
        height: 100%;
        object-fit: contain;

}
#p{
    color: rgb(92, 0, 196);
    font-size: 50px; /* Ajusta o tamanho */
}

    
.linha{
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(83, 1, 160);
    overflow: hidden;
}
.z{
    width: 300px;
    height: 50px;
    background-color: rgb(0, 247, 255);
    border: solid rgb(0, 247, 255);
    border-radius: 8px;
    color: white;
}
.foot{
    width: 150px;
    height: 50px;
    background-color: rgba(240, 248, 255, 0);
    border: solid rgb(161, 161, 161);
    border-radius: 8px;
    color:  rgb(161, 161, 161);
    align-items: center;
    justify-content: center;
    text-align: center;
    

}
.foot2{
    width: 300px;
    height: 50px;
    background-color: rgb(255, 0, 221);
    border: solid  rgb(255, 0, 221);
    border-radius: 8px;
    color:  rgb(161, 161, 161);;
}
.w{
    width: 250px;
    color: rgb(161, 161, 161);

}
.descriçao{
    float: left;
    width: 200px;
    background-color: rgb(17, 17, 17);
    height: 340px;
    margin-left: 30px;
    margin-top: 10px;
    color: aliceblue;
    text-align: left;
    position: relative;
    z-index: 1;
}
footer{
    background-color: rgb(17, 17, 17);
    height: 570px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;

    
}
#des{
    margin-left: 20px;
}
.numeros{

float: left;
margin-top: 50px;
margin-left: 40px;
z-index: 5;
position: relative;
font-size: 30px;
}
.final{
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 800px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.rodaD{
    width: 290px;
height: 290px;
background-color: rgb(92, 0, 196);
z-index: 1;
border-radius: 400px ;
position: absolute;
top: 0px;
margin-left: 140px;
}
#dois{
    width: 170px;
    height: 170px;
    top: 650px;
margin-left: 670px;
}
.ultima{
    width: 100%;
    height: 70px;
    background-color: black;
    color: rgb(99, 99, 99);
    position: relative;
    z-index: 1;
    float: left;
    text-align: left;
}
#ç{
    color: rgb(92, 0, 196);
    margin-left: 120px;
    float: left;
    margin-right: 15px;
}
.painelD{
    width: 900px;
    height: 400px;
    background-color: rgba(152, 48, 255, 0.712);
    margin-top: 70px;
    border-radius: 20px;
}
#ajuste{
    margin-left: 70px ;
}
